.authors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1380px;
  margin-bottom: 60px;
  padding: 0 0px;
  &__title {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;

    color: $primary-color;
    align-self: flex-start;
  }
  &__list {
    position: relative;
    width: 100%;
    &::before {
      content: "";
      display: block;
      position: absolute;
      right: -68px;
      bottom: 167px;
      width: 105px;
      height: 98px;
      background-image: url(../assets/images/branded_circle.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
      transform: rotate(93.76deg);
    }
    .author {
      &:hover {
        .author__thumbnail {
          transform: translateY(-10px);
          &::before {
            transform: translateY(10px);
          }
        }
      }
      &__thumbnail {
        position: relative;
        max-width: 310px;
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
        transition: 0.3s;
      }
      &__title {
        font-family: "Commissioner";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;

        color: $primary-color;

        margin-top: 15px;
      }
      &__description {
        font-family: "Commissioner";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;

        color: $primary-color;
      }
    }
    .swiper {
      width: 100%;
      position: relative;
      padding: 50px 0px 108px 0px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 176px);
        background: $secondary-color;
        z-index: -1;
      }
      .swiper-button-prev,
      .swiper-button-next {
        &::after {
          content: none;
        }

        top: calc(100% - 19px);
        background-image: url(../assets/images/red_arrow.svg);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 38px;
        height: 38px;
      }
      .swiper-button-prev {
        transform: rotate(180deg);

        left: calc(50% - 57px);
      }
      .swiper-button-next {
        right: calc(50% - 57px);
      }
      .swiper-slide {
        &:nth-child(2n) {
          .author {
            &__thumbnail {
              &::before {
                content: "";
                display: block;
                position: absolute;
                left: -37px;
                top: -47px;
                width: 105px;
                height: 97.65px;
                background-image: url(../assets/images/branded_circle.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
                transition: 0.3s;
              }
            }
          }
        }
        &:nth-child(4n) {
          .author {
            &__thumbnail {
              &::before {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}

.authors-list {
  max-width: 860px;
  margin-bottom: 50px;
  .author {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
      "img name link"
      "img prof link"
      "img desc desc"
      "img socs socs";
    grid-template-rows: 24px 24px auto auto;
    gap: 5px 40px;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    & + div {
      margin-top: 20px;
    }
    &__thumbnail {
      grid-area: img;
      width: 240px;
      height: 240px;
      overflow: hidden;
      border-radius: 240px;
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
    &__name {
      grid-area: name;
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;

      color: #231f20;
    }
    &__prof {
      grid-area: prof;
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;

      color: #231f20;
    }
    &__description {
      grid-area: desc;
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;

      color: #231f20;
      margin-top: 20px;
    }
    &__link {
      grid-area: link;
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      text-align: right;
      text-decoration-line: underline;

      color: #eb3a2d;
    }
    &__socials {
      grid-area: socs;
      display: grid;
      grid-auto-flow: column;
      gap: 30px;
      justify-content: start;
      margin-top: 10px;
      a {
        width: 25px;
        height: 25px;
        transition: 0.33em;
        &:hover {
          transform: translateY(-5px);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          display: block;
        }
      }
    }
  }
}
