.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 80px 40px;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    max-width: 1380px;
    gap: 60px;
  }
  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__info {
    h3 {
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 33px;
      /* identical to box height */

      color: #1b1717;
      margin-bottom: 15px;
    }
    form {
      display: grid;
      grid-auto-flow: row;
      gap: 20px;
    }
  }
  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 40px;
      right: 20px;
      background-image: url(../assets/images/icons/pencil.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
    }
    label {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      color: #959595;
    }
    input,
    textarea {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */

      color: #1b1717;
      border: 1px solid #959595;
      padding: 18px 30px;
      width: 100%;
    }
    textarea {
      resize: vertical;
    }
  }
  &__save {
    width: 100%;
    button {
      width: 100%;
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */

      text-align: center;

      color: #ffffff;
      padding: 18px;
      background: $primary-color;
      border: 1px solid $primary-color;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background: transparent;
        color: $primary-color;
      }
    }
  }
  &__publications {
    h3 {
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 33px;
      /* identical to box height */

      color: #1b1717;
      margin-bottom: 30px;
    }
    .pub {
      display: grid;
      grid-auto-flow: row;
      gap: 24px;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 500px;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-button {
        display: none;
      }
      &::-webkit-scrollbar-track {
        background: #efefef;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba($primary-color, 0.6);
        border-radius: 5px;
      }
      &__item {
        font-family: "Commissioner";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        text-decoration-line: underline;

        color: #2124a8;
      }
    }
  }
  &__title {
    p {
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 33px;
      /* identical to box height */

      color: #1b1717;
    }
    h2 {
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 49px;

      color: #1b1717;
    }
  }
  &__avatar {
    width: 375px;
    height: 375px;
    border-radius: 375px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__change-avatar {
    align-self: center;
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;

    color: #1b1717;
    border: 1px solid #000000;
    padding: 10px 24px;
    margin-top: 15px;
  }
  &__exit-btn {
    margin-top: 40px;
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #231f20;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.article-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(35, 31, 32, 0.5);
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
  &.show {
    z-index: 99999;
    opacity: 1;
    visibility: visible;
  }
  &__container {
    position: relative;
    padding: 33px 36px;
    max-width: 880px;
    width: 100%;
    background: #fff;
  }
  &__close {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__title {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */

    text-align: center;

    color: #1b1717;
  }
  &__description {
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #231f20;
    margin-top: 12px;
  }
  &__form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    input:not([type="file"]),
    textarea {
      width: 100%;
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */

      color: #c0c0c0;
      padding: 15px 30px;
      border: 1px solid #959595;
      margin-top: 15px;
      &::placeholder {
        font-family: "Commissioner";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        color: #c0c0c0;
      }
    }
    textarea {
      min-height: 230px;
      resize: vertical;
    }
  }
  &__file {
    margin-top: 15px;
    input {
      position: fixed;
      top: -10000px;
    }
    label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        margin-right: 5px;
        display: block;
        width: 26px;
        height: 26px;
        object-fit: contain;
      }
    }
  }
  &__send {
    align-self: center;
    width: 100%;
    max-width: 430px;
    padding: 18px 30px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    background: #231f20;
    border: 1px solid #3f3b3c;
    &:hover {
      background: transparent;
      color: #231f20;
    }
  }
}

.article-popup-hint {
  position: absolute;
  bottom: 100%;
  left: 100%;
  background-image: url(../assets/images/article_hint_bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  // padding: 16px 20px 17px 26px;
  text-align: center;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
  width: 279px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 100px;
    background-image: url(../assets/images/icons/close_white.svg);
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: calc(100% - 11px);
    left: calc(100% - 8px);
    background-color: #eb3a2d;
  }
  &.hide {
    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
  }
}
