@import "./fonts.scss";
@import "./normalize.scss";
@import "./vars.scss";
$max-width: 1728;
@mixin adapt-font($pc-size, $mob-size) {
  $add-size: $pc-size - $mob-size;
  $max-width: $max-width - 320;
  font-size: calc(
    #{$mob-size + px} + #{$add-size} * ((100vw - 320px) / #{$max-width})
  );
  line-height: calc(
    8px + #{$mob-size + px} + #{$add-size} * ((100vw - 320px) / #{$max-width})
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova";
  transition: 0.3s;
}

html {
  width: 100%;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@import "./header.scss";
@import "./blog.scss";
@import "./authors.scss";
@import "./footer.scss";
@media screen and (max-width: 1380px) {
  .authors {
    max-width: 100%;
  }
}
@media screen and (max-width: 1440px) {
}
