@import "./fonts.scss";
@import "./normalize.scss";
@import "./vars.scss";

$max-width: 1728;
@mixin adapt-font($pc-size, $mob-size) {
  $add-size: $pc-size - $mob-size;
  $max-width: $max-width - 320;
  font-size: calc(
    #{$mob-size + px} + #{$add-size} * ((100vw - 320px) / #{$max-width})
  );
  line-height: calc(
    8px + #{$mob-size + px} + #{$add-size} * ((100vw - 320px) / #{$max-width})
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova";
  transition: 0.3s;
}

html {
  width: 100%;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
body {
  width: 100%;
  overflow-x: hidden;
  background-image: url(../assets/images/main-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &.sign-body {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-top {
  position: fixed;
  width: fit-content;
  bottom: -200px;
  right: 50px;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(235, 58, 45, 0.4);
  border-radius: 43px;
  z-index: 999;
  transition: 0.3s;
  &:hover {
    background: rgba(235, 58, 45, 1);
  }
  &.show {
    bottom: 50px;
  }
  span {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: right;

    color: #ffffff;
  }
  img {
    width: 10px;
    height: 5px;
    margin-left: 7px;
  }
}

.left-bar {
  position: fixed;
  left: 75px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  z-index: 9999;
  &.to-top {
    top: calc(50% - 150px);
    a {
      & + a {
        margin-top: 30px;
      }
      &:last-child {
        margin-top: 50px;
        &::before {
          bottom: calc(100% + 24px);
        }
      }
    }
  }
  &.mobile {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    padding-top: 20px;
    border-top: 1px solid #231f20;
    .left-bar__home {
      display: none;
    }
    .article-popup-hint {
      display: none;
    }
    a {
      img {
        filter: brightness(0.2);
      }
      & + a {
        margin-top: 0;
        // margin-left: 30px;
      }
    }
  }
  a {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
      object-position: center center;
    }
    & + a {
      margin-top: 40px;
    }
    &:last-child {
      margin-top: 80px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: calc(100% + 39px);
        width: 100%;
        height: 1px;
        background: #e6e6e6;
      }
    }
    &.active {
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -13px;
        left: calc(50% - 3px);
        width: 6px;
        height: 6px;
        background: #eb3a2d;
        border-radius: 6px;
      }
    }
  }
  .article-popup-hint {
    position: absolute;
    bottom: 100%;
    left: 100%;
    background-image: url(../assets/images/article_hint_bg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    // padding: 16px 20px 17px 26px;
    text-align: center;
    font-family: "Commissioner";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #ffffff;
    width: 279px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 33px;
      height: 33px;
      border-radius: 100px;
      background-image: url(../assets/images/icons/close_white.svg);
      background-size: 60%;
      background-position: center center;
      background-repeat: no-repeat;
      bottom: calc(100% - 11px);
      left: calc(100% - 8px);
      background-color: #eb3a2d;
    }
    &.hide {
      transform: translateY(-30px);
      opacity: 0;
      visibility: hidden;
    }
  }
}

@import "./header.scss";
@import "./blog.scss";
@import "./authors.scss";
@import "./single.scss";
@import "./contacts.scss";
@import "./profile.scss";
@import "./sign.scss";
@import "./footer.scss";

@media screen and (min-width: 1801px) {
  .sign {
    &__container {
      transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 1800px) {
  .header {
    &__container {
      transform: scale(0.98);
    }
  }
  .tag-menu {
    &__item {
      margin: 10px 19px;
    }
  }
}
@media screen and (max-width: 1727px) {
  .header {
    &__container {
      transform: scale(0.95);
    }
  }
  .tags-menu {
    &__list {
      transform: scale(0.94);
    }
  }
  .left-bar {
    left: 35px;
  }
  .profile {
    &__container {
      transform: scale(0.94);
      margin: -15px -45px;
    }
  }
}
@media screen and (max-width: 1600px) {
  .header {
    &__container {
      transform: scale(0.93);
    }
  }
  .tags-menu {
    &__list {
      transform: scale(0.92);
    }
  }
  .left-bar {
    left: 35px;
  }
}
@media screen and (max-width: 1500px) {
  .tags-menu {
    &__container {
      // max-width: 84%;
    }
    &__list {
      transform: scale(0.86);
    }
  }
  .header {
    &__container {
      transform: scale(0.92);
    }
    &__socials {
      margin-left: 40px;
      gap: 15px;
    }
  }
  .nav-menu {
    gap: 25px;
  }
  .blog {
    max-width: 1192px;
    &__sidebar {
      margin-left: 50px;
    }
    &__articles {
      &.saved {
        .article-item {
          &::before {
            top: 22px;
            left: 5px;
          }
        }
      }
    }
  }
  .article-item {
    padding-left: 30px;
    &__link {
      font-size: 13px;
    }
    &__tags {
      gap: 10px;
    }
    &__excerpt {
      font-weight: 300;
    }
  }
  // .footer {
  //   &__nav {
  //     gap: 20px 40px;
  //   }
  // }
  .authors {
    padding: 0 125px;
  }
  .sign {
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    &__container {
      transform-origin: 0 0;
      transform: scale(0.8);
      // margin-bottom: -20%;
    }
  }
  .footer {
    &__container {
      transform: scale(0.83);
    }
    &__nav {
      li {
        a {
          font-size: 17px;
        }
      }
    }
  }
  .profile {
    &__container {
      transform: scale(0.84);
      margin: -60px -110px;
    }
  }
}
@media screen and (max-width: 1340px) {
  .authors {
    max-width: 100%;
  }
  .article-item {
    &__grid {
      grid-template-areas:
        "auth date img"
        "title title img"
        "desc desc img"
        "link link tags";
      gap: 5px;
    }
  }
  .footer {
    &__container {
      gap: 47px 100px;
    }
    &__nav {
      gap: 20px 30px;
    }
  }
  .sign {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__container {
      transform-origin: center 0;
      transform: scale(0.8);
      margin-bottom: -20%;
    }
  }
}
@media screen and (max-width: 1280px) {
  .nav-menu {
    gap: 15px;
  }
  .authors {
    padding: 0 90px;
  }
}
@media screen and (max-width: 1240px) {
  .profile {
    &__container {
      padding: 40px 15px;
      gap: 40px;
      transform: scale(1);
      margin: 0;
    }
    &__avatar {
      width: 300px;
      height: 300px;
    }
    &__change-avatar {
      align-self: flex-start;
    }
  }
  .header {
    .burger {
      display: block;
    }
    &__container {
      width: 100%;
      transform: scale(1);
    }
    &__socials {
      padding-top: 0;
    }
    &__login-btns {
      padding-top: 0;
    }
  }
  .nav-menu {
    position: fixed;
    top: -10px;
    left: -260px;
    width: 230px;
    height: 100vh;
    transition: 0.3s;
    z-index: 99;
    grid-auto-flow: row;
    background-image: url(../assets/images/mobile_menu_bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: start;
    padding: 20px;
    &.open {
      left: -20px;
      .nav-menu__close {
        &::before {
          display: block;
        }
      }
    }
    &__close {
      display: block;
      width: 24px;
      height: 24px;
      background: none;
      border: 0;
      margin-bottom: 15px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      &::before {
        content: "";
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
      }
    }
  }
  .blog {
    flex-direction: column;
    &__articles {
      max-width: 768px;
      width: auto;
    }
    &__single {
      max-width: 768px;
      width: auto;
    }
    &__sidebar {
      width: 100%;
      margin-left: 0;
      max-width: 768px;
      .inner-wrapper-sticky {
        position: static;
        height: auto;
        width: 100%;
      }
    }
  }

  .footer {
    &__container {
      gap: 40px 10px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "logo"
        "nav"
        "tags"
        "links"
        "copy";
    }
    &__logo {
      justify-self: center;
    }
    &__nav {
      justify-self: center;
    }
    &__tags {
      justify-self: center;
    }
    &__socials {
      justify-self: center;
    }
  }
}

@media screen and (max-width: 900px) {
  .profile {
    &__container {
      padding: 40px 15px;
      gap: 40px;
      grid-template-columns: 1fr 1fr;
    }
    &__avatar {
      width: 100px;
      height: 100px;
    }
    &__change-avatar {
      align-self: flex-start;
    }
    &__title {
      p {
        font-family: "Commissioner";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 33px;
        /* identical to box height */

        color: #1b1717;
      }
      h2 {
        font-family: "Commissioner";
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 49px;

        color: #1b1717;
      }
    }
  }
  .header {
    &__socials {
      display: none;
    }
    &__login-btns {
      margin-left: 25px;
      a {
        &.register-btn {
          display: none;
        }
      }
    }
    &__profile {
      margin-left: 25px;
    }
    &__logo {
      height: auto;
    }
  }
  .article-item {
    &__grid {
      grid-template-areas:
        "auth date img"
        "title title img"
        "desc desc img"
        "link link tags";
    }
  }
  .sign {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    &__container {
      transform-origin: center 0;
      transform: scale(0.9);
      margin-bottom: -10%;
      padding: 35px 50px 65px 50px;
    }
  }
  .authors {
    padding: 0 60px;
  }
  .blog {
    &__sidebar {
      .inner-wrapper-sticky {
        &.no-sticky {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .article-popup {
    &__container {
      padding-top: 40px;
    }
  }
  .scroll-top {
    background: rgba(235, 58, 45, 1);
    right: 15px;
    &.show {
      bottom: 15px;
    }
  }
  .profile {
    &__container {
      grid-template-columns: 1fr;
    }
  }
  .sign {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    &__container {
      transform-origin: center 0;
      transform: scale(0.8);
      width: 100%;
      margin-bottom: -176px;
      padding: 35px 15px 65px 15px;
    }
  }
  .tags-menu {
    &__container {
      padding: 6px 10px -2px 10px;
    }
  }
  .blog {
    padding: 47px 10px 111px 10px;
    &__title {
      padding-left: 0;
      &::before {
        left: -30px;
      }
    }
    &__sidebar {
      .inner-wrapper-sticky {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        overflow-x: auto;
      }
    }
    &__articles {
      &.saved {
        .article-item {
          &::before {
            top: 0px;
            left: 0px;
            padding: 10px;
            border-radius: 0 0 5px 0;
            background-color: #fff;
            background-size: 55%;
          }
        }
      }
    }
  }
  .sidebar-title {
    &:first-child {
      margin-top: 70px;
    }
  }
  .article-item {
    padding: 15px 10px;
    &:hover {
      transform: none;
    }
    &__grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 20px auto auto 20px auto;
      gap: 10px;
      grid-template-areas:
        "img   img"
        "auth  date"
        "title title"
        "desc  desc"
        "tags  tags"
        "link  link";
    }
    &__thumbnail {
      width: 100%;
      height: auto;
      margin-left: 0;
    }
    &__tags {
      justify-content: start;
    }
  }
  .article-page {
    &__tags {
      div {
        margin-top: 10px;
      }
    }
  }
  .authors {
    padding: 0 20px;
  }
  .authors-list {
    .author {
      grid-template-areas:
        "img name name"
        "img prof prof"
        "img desc desc"
        "img socs socs"
        "img link link";
      &__thumbnail {
        width: 160px;
        height: 160px;
      }
    }
  }
  .contacts {
    &__container {
      width: 100%;
      padding: 25px 10px;
    }
    &__socials {
      div {
        gap: 25px;
      }
    }
  }
  .footer {
    &__container {
      gap: 45px;
    }
    &__logo {
      justify-self: start;
    }
    &__nav {
      justify-self: start;
      grid-auto-flow: row;
      a {
        width: fit-content;
      }
    }
    &__tags {
      justify-self: start;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
    &__socials {
      justify-self: start;
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 600px) {
  .authors-list {
    .author {
      grid-template-areas:
        "img name name"
        "img prof prof"
        "desc desc desc"
        "socs socs socs"
        "link link link";
      grid-template-rows: 24px repeat(3, auto);
      &__thumbnail {
        width: 120px;
        height: 120px;
      }
    }
  }
}
@media screen and (max-height: 860px) {
  .sign {
    &__container {
      transform: scale(0.68);
    }
  }
}
// @media screen and (max-height: 720px) {
//   .sign {
//     &__container {
//       transform: scale(0.58);
//     }
//   }
// }
